body {
  margin: 0;
  min-width: 960px;
  font-family: "Cuprum", "Arial", sans-serif;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  background-color: #ee3643;
  font-family: "Cuprum", "Atial", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase;

}
.site-header {
  background-color: #f4f7f9;

  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.container-header-top {
  background-color: #293449;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.site-header-top,
.site-header-middle,
.site-header-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.header-logo {
  width: 200px;
  height: 21px;

  text-align: center;
  padding: 10px;
  margin: 0;
  position: relative;
  background-color: #ee3643;

}
.header-logo img {
  width: 110px;
  height: 20px;
  padding: 0;
  margin: 0;
  position: ;
}
.header-logo::before {
  content: "";

  position: absolute;
  top: 40px;
  left: 0;

  width: 220px;
  height: 5px;


  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-position: 0 0;

}



.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:focus {
  background-color: #ba2732;
}

.search {
  margin: 0;
  padding: 10px 15px;
  width: 240px;
  align-items: center;

}
.search path,
.marks path,
.basket polygon,
.basket circle {
  fill: #ffffff;
  opacity: 0.3;
}

.search form svg,
.marks a svg,
.basket a svg {

}

.marks {
  padding: 10px 30px 10px 15px;
  margin: 0;
  width: 105px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;

}


.basket {
  padding: 10px 30px 10px 15px;
  margin: 0;
  width: 105px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: baseline;
}

.chekout {
  width: 110px;
  padding: 10px 20px;
  margin: 0;
  background-color: #63a63e;
  color: #ffffff;

}

.search:hover,
.marks:hover,
.basket:hover {
  background-color: #212a3a;
}

.search:focus  {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
}

.marks:focus,
.basket:focus {
  background-color: #161d29;
  opacity: 0.6;
}

.inner-basket {
  background-color: #ee3643;
}

.chekout:hover {
  background-color: #5fbb2d;
}

.chekout:focus {
  opacity: 0.6;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.header-container h1 {
  width: 195px;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.44;
  margin: 0;
  padding: 4px 0;
  margin-left: 50px;
}

.header-container .contacts {
  margin-left: 75px;
}
.phone {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: #ee3643;
  width: 145px;
  border: solid 3px #ffffff;
  padding: 10px 50px 10px 70px;
  margin: 0;
  position: relative;
  margin-bottom: 3px;
}

.phone::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 12px;

  width: 19px;
  height: 19px;


  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.adress {

  width: 270px;
  font-size: 14px;
  text-align: center;
  margin: 0;
  line-height: 1.71;
  color: #32425c;
}

.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  max-width: 300px;
}


.user-navigation a {
  display: flex;
  justify-content: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 1;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  margin: 0;
}

.user-navigation a svg {

}

.user-navigation .login-link {
  width: 111px;
}

.login-link polygon,
.login-link path {
  fill: #c5c5c5;
}
.user-navigation .chek-in {
  margin-left: 10px;
  width: 130px;
}

.user-navigation .login {
  padding:  14px 25px;
  margin-left: 10px;
}


.user-navigation .orders,
.user-navigation .personal-account {
  color: #32425c;
  text-decoration: underline;
  background: none;
  font-size: 15px;
  padding-left: 15px;
  margin-right: auto;

}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  opacity: 0.3;
}

.main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  margin: 0;
  padding: 0 20px;
  margin-bottom: 60px;
}


.main-navigation a {
  display: flex;
  flex-grow: 1;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1;
  font-weight: normal;
  padding: 20px;
  margin: 0;

}

.main-navigation a {
  color: #ffffff;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:focus {
  background-color: #1d2739;
  opacity: 0.5;
}




main {
  background-color: #ffffff;
}


.promo-slide ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 0;
}

.main-menu-wrapper {
  display: flex;
  width: 940px;
  margin: 0;
  padding: 0;
}

.main-menu-container {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0;
}

.main-menu .menu {
  width: 250px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 22px 25px;
}

.main-menu .material {
  margin-left: 0;
  position: relative;
}

.material::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 40px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.main-menu .instrument {

  position: relative;
}

.instrument::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 40px;;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-instrument.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-menu .technic {

  position: relative;
}
.technic::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 40px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-menu .sale {

  position: relative;
}
.sale::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 40px;;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-menu .delivery {

  position: relative;
}
.delivery::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 40px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.promo-perforators {
  display: none;
}

.main-menu h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-menu a {
  width: 135px;
  margin-top: 10px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-menu a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-menu a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.material {
  background-color: #ffbf47;
}
.material .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.material .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.instrument {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}
.delivery {
  background-color: #ffc047;
}

.promo-drills,
.promo-perforators {
  position: relative;
  width: 620px;
}
.promo-drills-container,
.promo-perforators-container {
  position: absolute;
  content: "";
  top: 20px;
  left: 20px;
  font-family: "Cuprum", "Atial", sans-serif;
  font-size: 18px;
  color: #ffffff;
}


.promo-slide h3 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}
.promo-slide img {
  margin: 0;
}

.promo-slide p {
  margin: 0;
}


.promo-slide a {
  width: 195px;
  height: 27px;
  background-color: #ee3643;
  position: absolute;
  content: "";
  bottom: 20px;
  left: 20px;
  font-family: "Cuprum", "Atial", sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding-top: 10px;
  border-radius: 3px;
}

.promo-slide a:hover {
  background-color: #ca2c37;
}

.promo-slide a:focus {
  background-color: #ba2732;
}

.promo-slide {
  position: relative;
}

.slider-button-back {
  position: absolute;
  content: "";
  top: 115px;
  left: 40px;
}

.slider-button-next {
  position: absolute;
  content: "";
  top: 115px;
  right: 20px;
}


.popular-goods {
  width: 940px;
  margin: 0 auto 20px;
  padding: 0 10px;
}

.popular-goods-container {
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
}

.popular-goods h2 {
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
}
.popular-goods-container  a {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  margin: 25px;
}
.popular-goods-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.popular-item {
  border: solid 1px #eaeaea;
}

.popular-item h3 {
  color: #000000;
}

.buy-button a {
  color: #ffffff;
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

}
.buy-button a:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}
.buy-button a:focus {
background-color: #518534;
}

.mark-button a {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;

}
.mark-button a:hover {
border: solid 3px #32425c;
}
.mark-button a:focus {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.popular-maker {
  width: 940px;
  margin: 0 auto 20px;
  padding: 0 10px;
}
.popular-maker-container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
}
.popular-maker h2 {
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
}
.popular-maker-container  a {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  margin: 25px;
}

.popular-maker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 940px;
  list-style: none;

}
.popular-maker-list a {
  width: 220px;
  height: 145px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  display: block;

}
.popular-maker-list a:hover {
  width: 220px;
  height: 145px;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);

}
.popular-maker-list a:focus {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}

.service {
  background-color: #f4f7f9;
  color: #000000;
}

.service-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 60px 10px;
  flex-direction: column;
}

.service-container h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

.service-container p {
  width: 450px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.85;
  font-weight: normal;
  margin: 25px 0;

}

.service-menu-container {
  display: flex;
  margin: 0;
  padding: 0;


}


.service-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  position: relative;
}

.service-menu::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50px;
  background-image:
            url("../img/line-shadow.png"),
            url("../img/shadow.jpg");
  background-position: 0, 0;
  background-repeat: no-repeat, no-repeat;
  z-index: 10;
}

.service-menu a {
  display: block;
  width: 210px;
  height: 23px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  font-family: "Cuprum", "Arial", sans-sans-serif;
  font-size: 21px;
  color: #ffffff;
  padding: 20px 20px;
  z-index: 0;

}
.service-menu a:hover {
background-color: #293449;
}
.service-menu a:focus {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.service-slider {
  font-size: 0;
  margin: 0;
  padding: 0;


}

.service-slider li{
  margin: 0;
  list-style: none;
  display: flex;
}

.service-slider .service-guarantee,
.service-slider .service-credit {
  display: none;
}
.service-slider h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #32425c;
  margin: 0;
  padding: 0;
}
.service-slider img {
  margin: 0;
  padding: 0;
  margin-left: -150px;
}

.service-slider p {
  display: block;
  width: 280px;
  height: 83px;
  font-family: "PTSans", "Arial", sans-serif;

  font-weight: normal;
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
  padding: 0;
  margin: 0;
}

.company-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 80px 10px;
  justify-content: space-between;
}
.about-company {
  display: flex;
  width: 520px;
  flex-direction: column;
  margin: 0;
}

.contacts {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0;
}

.company-container h2 {
  margin: 0;
}

.about-company .button,
.contacts .button {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-top {
  background-color: #32425c;
  display: flex;
  flex-direction: column;
}

.footer-top ul {
  list-style: none;
}

.footer-top-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
  margin-bottom: 30px;
}

 .footer-logo {
  width: 140px;
  height: 30px;
  box-shadow: inset 0px -5px 0 0 #0000003d;
  background-color: #ee3643;
  margin: 0;
  padding: 20px 40px;
}

.footer-main-navigation {
  display: flex;

}

.footer-main-navigation a {
  margin-left: 60px;
  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #f1f5f7;
}

.footer-main-navigation a:hover {
  width: 71px;
  height: 17px;
  text-decoration: underline;
}
.footer-main-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #f1f5f7;
  padding: 0;
  margin: 0;
}
.footer-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

}

.footer-site-navigation a {
  width: 79px;
  height: 17px;
  font-size: 18px;
  margin-left: 60px;

  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}
.footer-site-navigation a:hover {
  width: 82px;
  height: 17px;
text-decoration: underline;
}
.footer-site-navigation a:focus {
color: rgba(255, 209, 128, 0.5);
}
.footer-bottom-container {
  background-color: #293449;
  color: #ffffff;
}

.footer-bottom {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 25px 10px;
  justify-content: space-between;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;

  color: #ffffff;
}

.footer-mail-contacts a,
.footer-maker a {
  font-size: 16px;
  color: #ffd180;
}

.footer-mail-contacts a:hover,
.footer-maker a:hover {
  text-decoration: underline;
}
.footer-mail-contacts a:focus,
.footer-maker a:focus {
  color: #ee3643;
}
/* CSS каталог*/
.site-catalog {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.site-header-catalog {
  margin-bottom: 0;
}

.breadcrumbs,
.filter-marks,
.filter-nutrition,
.catalog-list {
  list-style: none;
}


.breadcrumbs {
  display: flex;
  text-transform: uppercase;
  width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}

.breadcrumbs a {
  display: block;
  margin: 20px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  color: #000000;
}
.site-catalog h1 {
  text-transform: uppercase;
  display: block;
  width: 880px;
  margin: 0 auto;
  padding: 30px 30px;
  background-color: #f2f6f8;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  margin-bottom: 20px;
}

.main-container-catalog {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.filters {
  width: 220px;
  margin: 0;
  padding: 0;
}
.filters-name {
  background-color: #f7f3ec;
  text-transform: uppercase;
  width: 180px;
  padding: 10px 20px;
  margin: 0;
}

.catalog {
  width: 700px;
  margin: 0;
  padding: 0;
  margin-left: auto;

}
.sorting {
  display: flex;
  margin: 0;
  padding: 10px 20px;
  width: 670px;
  background-color: #f7f3ec;
  margin-bottom: 20px;

}

.sorting h3 {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  margin: 0;
  padding: 0;
}

.sorting-button {
  display: flex;
  width: 450px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  justify-content: space-between;
}

.sorting-button a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
  margin: 0;
  padding: 0;
}

.sorting-button a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-button a:focus {
  color: #ee3643;
  border-bottom: none;
}

.catalog-list {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  margin-bottom: 20px;
}
.catalog-item h3 {
  fonts-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.button-pages {
  list-style: none;
  margin: 0;
  padding: 50px 0;
  display: flex;
}

.button-pages a {
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  padding: 10px;

}

.button-pages a:focus {
  background-color: #ee3643;
  color: #ffffff;
}

.about-perforators-container {
  background-color: #f4f7f9;
  color: #000000;
  margin: 0;
  padding: 0;

}

.about-perforators {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  padding: 60px 10px;
}

.about-perforators h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;

}

.about-perforators p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 20px 0 10px;

}

.modal {
  position: fixed;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
  color: #000000;
}

.modal-login {
  display: none;
  top: 184px;
  left: 64px;

  padding: 0;
  border-top: 7px solid #ee3643;

  width: 620px;

}

.login-form label {
  margin: 45px 80px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;


  display: flex;
  flex-direction: column;
}

.login-icon-user {

  box-sizing: border-box;
  width: 200px;
  height: 38px;

  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #999999;

  margin: 10px 0;
  padding: 0 10px;

  border: solid 2px #d7dcde;
}

.login-icon-user:hover {
  border: solid 2px #b5b5b5;
}

.login-icon-user:focus {
  border: solid 2px #ee3643;
}

.button-container {
  background-color: #f1f1f1;
  padding: 37px 80px;
}
.button-container .button {
  width: 100%;
  border: 0;
}

.modal-map {
  display: none;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -220px;
  margin-left: -470px;

}
.modal-map iframe {
  width: 940px;
  height: 560px;
  position: relative;
  z-index: 2;

  border: none;
}
.modal-map p {
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 1;

}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 25px;
  height: 25px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 2px;

  width: 25px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback {
  display: none;
  top: 184px;
  left: 64px;

  padding: 0;
  border-top: 7px solid #ee3643;

  width: 620px;

}
.feedback-container {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-left: 80px;
  padding: 0;
}

.feedback label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 220px;
}

.feedback-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-right: 16px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin: 10px 0;
}

.feedback .feedback-textarea {
  width: 460px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;

}
.feedback-textarea textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-right: 16px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin: 10px 0;
}
/*.feedback-textarea::placeholder {
  color: red;
}
input:focus::placeholder {
  color: green;
}
/* edge */
/*input::-ms-input-placeholder {
  color: red;
}
/* ie */
/*input:-ms-input-placeholder {
  color: red;
}

input {
  color: blue;
} */
.modal-buy {
  display: none;
  top: 184px;
  left: 64px;

  padding: 0;
  border-top: 7px solid #ee3643;

  width: 620px;
}
.modal-buy h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  padding: 65px;
  padding-left: 170px;
  margin: 0;
  position: relative;
}

.modal-buy h2::before {
  content: "";

  position: absolute;
  top: 45px;
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-buy .button-container {
  display: flex;
}
.modal-back-button {
  margin-left: 20px;
  background-color: #ffffff;
  color: #000000;
}
.modal-show {
  display: block;
}
