body {
  margin: 0;
  min-width: 960px;
  font-family: "Cuprum", "Arial", sans-serif;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #32425c;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  background-color: #ee3643;
  font-family: "Cuprum", "Atial", sans-serif;
  font-size: 14px;
  line-height: 18px;;
  color: #ffffff;
  text-align: center;
  padding: 12px 10px 8px;
  border-radius: 3px;
  text-transform: uppercase;

}
.site-header {
  background-color: #f4f7f9;

  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}
.container-header-top {
  background-color: #293449;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.site-header-top,
.site-header-middle,
.site-header-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.header-logo {
  width: 220px;
  height: 18px;

  text-align: center;
  padding: 12px 0;
  margin: 0;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #ca2c37;

}
.header-logo img {
  width: 111px;
  height: 19px;
  padding: 0;
  margin: 0;

}

.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:focus {
  background-color: #ba2732;
}

.search {
  margin: 0;
  padding: 0;

  width: 222px;
  align-items: center;
  position: relative;

}
.search svg {
  position: absolute;
  top: 11px;
  left: 17px;
}
.search input {
  padding: 12px 0 11px;
  padding-left: 48px;
  background-color: #293449;
  color: #ffffff;
  border: none;
  width: 100%;
  box-sizing: border-box;
}
.search input::placeholder {
  color: #ffffff;
}


.search path {
  fill: #ffffff;
  opacity: 0.3;
}

.search:hover,
.search:hover input {
  background-color: #212a3a;
}

.search:hover path {
  opacity: 1;
}


.container .search input:focus,
.search:focus {
  background-color: #ffffff;
  color: #000000;
}

.container .search input:focus::placeholder {
  color: #000000;
}

.search:active path,
 input[type=search]:focus ~  svg path {
  fill: #ee3643;

}

/* ie *//*
.search:active input:-ms-input-placeholder {
  color: #000000;
}
.search:active path {
  fill: #ee3643;

}*/


/*

.search input:focus::placeholder {
  color: #000000;
  background-color: #ffffff;
}*/


.marks path,
.basket polygon,
.basket circle {
  fill: #ffffff;
  opacity: 0.3;
}


.marks {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 45px;
  margin: 0;
  width: 105px;
  color: #ffffff;
  position: relative;

}
.marks svg {
  position: absolute;
  top: 12px;
  left: 18px;
}

.basket  {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 50px;
  margin: 0;
  width: 100px;
  color: #ffffff;
  position: relative;

}

.basket svg {
  position: absolute;
  top: 13px;
  left: 19px;
}
.chekout {
  width: 110px;
  padding: 12px 20px;
  margin: 0;
  background-color: #63a63e;
  color: #ffffff;

}

.search:hover,
.search:hover input,
.marks:hover,
.basket:hover {
  background-color: #212a3a;
}

.search:focus  {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
}

.marks:focus,
.basket:focus {
  background-color: #161d29;
  opacity: 0.6;
}

.inner-basket {
  background-color: #ee3643;
}

.chekout:hover {
  background-color: #5fbb2d;
}

.chekout:focus {
  opacity: 0.6;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.header-container h1 {
  width: 192px;
  color: #ee3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  margin: 0;
  padding: 5px;
  margin-left: 48px;
}

.header-container .contacts {
  margin-left: 70px;
}
.phone {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  width: 182px;
  border: solid 3px #ffffff;
  padding: 10px 10px 8px;
  padding-left: 72px;
  margin: 0;
  position: relative;
  margin-bottom: 5px;
}

.phone::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 12px;

  width: 19px;
  height: 19px;


  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.adress {

  width: 270px;

  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  max-width: 300px;
}


.user-navigation a {
  display: block;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
  color: #000000;

  text-align: center;
  padding: 13px 10px 11px;
  margin: 0 auto;
}

.user-navigation .login-link {
  width: 77px;
  padding-left: 34px;
  position: relative;
}

.user-navigation .login-link svg {
  position: absolute;
  top: 14px;
  left: 14px;

}

.login-link polygon,
.login-link path {
  fill: #c5c5c5;
}

.user-navigation .chek-in {
  margin-left: 10px;
  width: 130px;
}

.user-navigation .login {
  padding:  14px 25px;
  margin-left: 10px;
}


.user-navigation .orders,
.user-navigation .personal-account {
  color: #32425c;
  text-decoration: underline;
  background: none;
  font-size: 15px;
  padding-left: 15px;
  margin-right: auto;

}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  opacity: 0.3;
}

.main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 5px 0 0 #293449;
  background-color: #32425c;
  margin: 0;
  padding: 0 26px 0 24px;
  margin-bottom: 64px;
}


.main-navigation a {
  display: block;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  padding: 19px 29px;
  margin: 0;

}

.main-navigation a {
  color: #ffffff;
}

.main-navigation li:hover {
  background-color: #293449;
}

.main-navigation li:focus {
  background-color: #1d2739;
  opacity: 0.5;
}




main {
  background-color: #ffffff;
}


.promo-slide ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 0;
  margin-bottom: 33px;
}

.main-menu-wrapper {
  display: flex;
  width: 940px;
  margin: 0;
  padding: 0;
}

.main-menu .menu {
  width: 256px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 21px 22px 20px;
}



.main-menu-container {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0;
}



.main-menu h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.main-menu .menu a {
  display: block;
  width: 115px;
  margin: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-menu a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-menu a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.material {
  background-color: #ffbf47;
}
.material .flag {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.material .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.main-menu .material {
  margin-left: 0;
  position: relative;
}

.material::after {
  content: " ";

  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.main-menu .instrument {

  position: relative;
}

.instrument::after {
  content: " ";

  position: absolute;
  top: 34px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-instrument.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-menu .technic {

  position: relative;
}
.technic::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-menu .sale {

  position: relative;
}
.sale::after {
  content: " ";

  position: absolute;
  top: 26px;
  right: 46px;;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-sale.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-menu .delivery {

  position: relative;
}
.delivery::after {
  content: " ";

  position: absolute;
  top: 32px;
  right: 32px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.instrument {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}
.delivery {
  background-color: #ffc047;
}

.promo-drills,
.promo-perforators {
  position: relative;
  width: 620px;
}
.promo-drills-container,
.promo-perforators-container {
  position: absolute;
  content: "";
  top: 25px;
  left: 24px;
  font-family: "Cuprum", "Atial", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.promo-slide h3 {
  padding: ;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}


.promo-perforators {
  display: none;
}

.promo-slide img {
  margin: 0;
}

.promo-slide p {
  margin: 0;
}


.promo-slide a {
  width: 175px;
  position: absolute;
  bottom: 27px;
  left: 25px;

}

.promo-slide a:hover {
  background-color: #ca2c37;
}

.promo-slide a:focus {
  background-color: #ba2732;
}

.promo-slide {
  position: relative;
}

.slider-button-back {
  position: absolute;

  top: 115px;
  left: 40px;
}
.slider-button-back::before {
  content: " ";

  top: 0;
  left: 0;
  width: 22px;
  height: 40px;

  position: absolute;
  background-image: url("../img/icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}
.slider-button-back {
  position: absolute;

  top: 114px;
  left: 24px;
}
.slider-button-back::before {
  content: " ";

  top: 0;
  left: 0;
  width: 22px;
  height: 40px;

  position: absolute;
  background-image: url("../img/icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.slider-button-next {
  position: absolute;
  content: "";
  top: 114px;
  right: 41px;
}
.slider-button-next::after {
  content: " ";

  top: 0;
  left: 0;
  width: 22px;
  height: 40px;

  position: absolute;
  background-image: url("../img/icon-right.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.popular-goods {
  width: 940px;
  margin: 0 auto 20px;
  padding: 0 10px;
  z-index: 0;
}

.popular-goods-container,
.popular-maker-container {
  background-color: #f9f5f0;
  color: #32425c;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 20px;
}

.popular-goods h2,
.popular-maker h2  {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 5px 2px 0;
  font-weight: normal;
  line-height: 30px;
}

.popular-goods-container  a,
.popular-maker-container  a {
  width: 233px;
}

.popular-goods-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0;
}

.popular-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  border: 1px solid #eaeaea;
}
.popular-item:nth-child(4n) {
  margin-right: 0;
}

.popular-item .actions {
  display: none;
}

.popular-item img {
  width: 218px;
  height: 170px;
  margin: 0;
  padding: 0;
}
.popular-item  .title{
  display: flex;
  flex-direction: column;
}
.popular-item h3 {
  color: #000000;
  order: 1;
  padding: 0 20px;
  margin: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

}

.popular-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
}
.popular-item .price {
  position: relative;
  width: 119px;
  margin: 12px auto;
  margin-bottom: 20px;
  padding: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}
.popular-item-new .price {
  margin-top: 30px;
}
.popular-item .price:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.popular-item-new .flag {
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.popular-item-new .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}


.buy-button a {
  color: #ffffff;
  width: 135px;
  height: 38px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;

}
.buy-button a:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}
.buy-button a:focus {
background-color: #518534;
}

.mark-button a {
  width: 135px;
  height: 38px;
  border: solid 3px #63a63e;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;

}
.mark-button a:hover {
border: solid 3px #32425c;
}
.mark-button a:focus {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.popular-maker {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 65px;
}

.popular-maker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}
.popular-maker-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;

}

.popular-maker-item:nth-child(4n) {
  margin-right: 0;
}

.popular-maker-list a {
  width: 218px;
  height: 143px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.popular-maker-list a:hover {

  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);

}
.popular-maker-list a:focus {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}

.service {
  background-color: #f4f7f9;
  color: #000000;

}

.service-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 75px;
}

.service-wrapper {
  padding-top: 65px;
  margin-bottom: 65px;

}
.service-container h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.service-container p {
  width: 400px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  margin: 28px 0;

}

.service-menu-container {
  display: flex;
  margin: 0;
  padding: 0;

}


.service-menu {
  padding: 0;
  margin: 0;
  margin-top: 5px;

  list-style: none;

  width: 240px;
  position: relative;

}

.service-menu::after {
  position: absolute;
  content: "";
  top: -50px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../img/line-shadow.png");

  background-position: 0 0;
  background-repeat: no-repeat, no-repeat;

}

.service-menu a {
  display: block;
  width: 196px;
  height: 35px;
  box-shadow: 0px -1px 0 0 #293449,
            inset  0px 1px 0 0 #405069;
  background-color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
  padding: 13px 22px;
  z-index: 0;

}
.service-menu a:hover {
background-color: #293449;
}
.service-menu .service-actions {
  box-shadow: 0px -1px 0 0 #ffffff,
              inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}

.service-slider {
  font-size: 0;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  width: 620px;

}

.service-slider li {
  margin: 0;
  list-style: none;
  min-height: 290px;

}

.service-slider .service-delivery {
  margin: 0;
  padding: 0;
  background-image: url("../img/delivery.png");
  background-position: 150px 25px;
  background-repeat: no-repeat;
}
.service-slider .service-guarantee {
    display: none;
}
.service-slider .service-credit {
  display: none;
}
.service-slider h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}


.service-slider p {
  display: block;
  width: 380px;
  font-family: "PT Sans", "Arial", sans-serif;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  padding: 0;
  margin: 0;


}

.company-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  justify-content: space-between;
}
.about-company {
  display: flex;
  width: 520px;
  flex-direction: column;
  margin: 0;
}
.company-container h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.company-container p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;

  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}
.about-company ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  margin-bottom: 26px;
}
.about-company li {
  margin: 0;
  padding: 10px 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  position: relative;
}


.about-company li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 19px;
  left: 0;

}

.about-company .button {
  width: 200px;
  margin-bottom: 86px;
}

.contacts {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0;
}

.contacts .contacts-map {
  margin-top: 30px;
}

.contacts .button {
  width: 280px;
  margin-top: 37px;
  margin-bottom: 86px;
}

.footer-top {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;

}

.footer-top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 28px;
}

 .footer-logo {
  width: 140px;
  height: 28px;
  box-shadow: inset 0px -5px 0 0 #0000003d;
  background-color: #ee3643;
  margin: 0;
  padding: 20px 40px;
}

.footer-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top-container .footer-main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 37px;
  width: 660px;
}

.footer-main-navigation li {
  margin: 0;
  padding: 0;
}

.footer-main-navigation a {
  padding: 0;
  margin: 0;
  margin-left: 60px;
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-main-navigation a:hover {
  text-decoration: underline;
}
.footer-main-navigation a:focus {
  color: rgba(241, 245, 247, 0.5);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-contacts {
  width: 325px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #f1f5f7;
  padding: 0;
  margin: 0;
  padding-left: 3px;

}
.footer-contacts p {
  margin: 0;
  padding: 0;
}
.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

}

.footer-site-navigation a {

  font-size: 18px;
  margin-left: 60px;

  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}

.footer-site-navigation a:hover {
  width: 82px;
  height: 17px;
  text-decoration: underline;
}

.footer-site-navigation a:focus {
  color: rgba(255, 209, 128, 0.5);
}


.footer-bottom-container {
  background-color: #293449;
  color: #ffffff;
}

.footer-bottom {

  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding: 35px 10px;
  padding-left: 0;

}

.footer-copyright {
  margin: 0;
  padding: 0;
  width: 230px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}


.footer-mail-contacts a,
.footer-maker a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #ffd180;
}

.footer-mail-contacts {
  width: 140px;
  margin: 0;
  padding: 0;
  margin-left: 120px;
}
.footer-maker {
  width: 100px;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}

.footer-mail-contacts a:hover,
.footer-maker a:hover {
  text-decoration: underline;
}
.footer-mail-contacts a:focus,
.footer-maker a:focus {
  color: #ee3643;
}
/* CSS каталог*/
.site-catalog {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.site-header-catalog {
  margin-bottom: 0;
}

.breadcrumbs,
.filter-marks,
.filter-nutrition,
.catalog-list {
  list-style: none;
}


.breadcrumbs {
  display: flex;
  text-transform: uppercase;
  width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}

.breadcrumbs a {
  display: block;
  margin: 20px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  color: #000000;
}
.site-catalog h1 {
  text-transform: uppercase;
  display: block;
  width: 880px;
  margin: 0 auto;
  padding: 30px 30px;
  background-color: #f2f6f8;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  margin-bottom: 20px;
}

.main-container-catalog {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.filters {
  width: 220px;
  margin: 0;
  padding: 0;
}
.filters-name {
  background-color: #f7f3ec;
  text-transform: uppercase;
  width: 180px;
  padding: 10px 20px;
  margin: 0;
}

.catalog {
  width: 700px;
  margin: 0;
  padding: 0;
  margin-left: auto;

}
.sorting {
  display: flex;
  margin: 0;
  padding: 10px 20px;
  width: 670px;
  background-color: #f7f3ec;
  margin-bottom: 20px;

}

.sorting h3 {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000000;
  margin: 0;
  padding: 0;
}

.sorting-button {
  display: flex;
  width: 450px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  justify-content: space-between;
}

.sorting-button a {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
  margin: 0;
  padding: 0;
}

.sorting-button a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-button a:focus {
  color: #ee3643;
  border-bottom: none;
}

.catalog-list {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  margin-bottom: 20px;
}
.catalog-item h3 {
  fonts-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.button-pages {
  list-style: none;
  margin: 0;
  padding: 50px 0;
  display: flex;
}

.button-pages a {
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  padding: 10px;

}

.button-pages a:focus {
  background-color: #ee3643;
  color: #ffffff;
}

.about-perforators-container {
  background-color: #f4f7f9;
  color: #000000;
  margin: 0;
  padding: 0;

}

.about-perforators {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  padding: 60px 10px;
}

.about-perforators h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;

}

.about-perforators p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 20px 0 10px;

}

.modal {
  position: fixed;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
  color: #000000;
}

.modal-login {
  display: none;
  top: 184px;
  left: 64px;

  padding: 0;
  border-top: 7px solid #ee3643;

  width: 620px;

}

.login-form label {
  margin: 45px 80px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;


  display: flex;
  flex-direction: column;
}

.login-icon-user {

  box-sizing: border-box;
  width: 200px;
  height: 38px;

  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #999999;

  margin: 10px 0;
  padding: 0 10px;

  border: solid 2px #d7dcde;
}

.login-icon-user:hover {
  border: solid 2px #b5b5b5;
}

.login-icon-user:focus {
  border: solid 2px #ee3643;
}

.button-container {
  background-color: #f1f1f1;
  padding: 37px 80px;
}
.button-container .button {
  width: 100%;
  border: 0;
}

.modal-map {
  display: none;
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -220px;
  margin-left: -470px;

}
.modal-map iframe {
  width: 940px;
  height: 560px;
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 1;

}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 25px;
  height: 25px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  left: 2px;

  width: 25px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback {
  display: none;
  top: 184px;
  left: 64px;

  padding: 0;
  border-top: 7px solid #ee3643;

  width: 620px;

}
.feedback-container {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-left: 80px;
  padding: 0;
}

.feedback label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 220px;
}

.feedback-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-right: 16px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin: 10px 0;
}

.feedback .feedback-textarea {
  width: 460px;
  display: flex;
  flex-direction: column;
  margin-left: 80px;

}
.feedback-textarea textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-right: 16px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin: 10px 0;
}
/*.feedback-textarea::placeholder {
  color: red;
}
input:focus::placeholder {
  color: green;
}
/* edge */
/*input::-ms-input-placeholder {
  color: red;
}
/* ie */
/*input:-ms-input-placeholder {
  color: red;
}

input {
  color: blue;
} */
.modal-buy {
  display: none;
  top: 184px;
  left: 64px;

  padding: 0;
  border-top: 7px solid #ee3643;

  width: 620px;
}
.modal-buy h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #000000;
  padding: 65px;
  padding-left: 170px;
  margin: 0;
  position: relative;
}

.modal-buy h2::before {
  content: "";

  position: absolute;
  top: 45px;
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/modal-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-buy .button-container {
  display: flex;
}
.modal-back-button {
  margin-left: 20px;
  background-color: #ffffff;
  color: #000000;
}
.modal-show {
  display: block;
}
